/* Кнопки панелей */
.toolbarbutton-1 {
    fill: #195466 !important;
    background-color: #0C1014 !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: #0C1014 !important;
--tab-min-height: 18px !important;
  margin-left: 0px !important;
  height: 26px !important;
  margin-bottom: 0px !important;
}

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after{
  display: none !important;
}

/* Вскладки */
tab
{
    background-color: #0C1014 !important;
   /* font-weight: bold !important; */
    color : #599cab !important;
}


.tab-content[selected="true"]
{
    background-color: #091f2e !important;
/*    font-weight: bold !important;*/
    color : #599cab !important;
    border-radius: 20px !important;
}

/*Background active tab*/

.tab-loading-burst {	
    background-color:#0C1014 !important;
}

#nav-bar-customization-target {
	background-color: #0C1014 !important;
}


.tabbrowser-tab{ opacity: 0.75 }
.tabbrowser-tab:hover{ opacity: 1 }
.tabbrowser-tab[selected]{ opacity: 1 }



#urlbar{
	box-shadow: none !important;
	background-color: #0C1014 !important;
	background: none !important;
	border: none !important;
	color : #195466 !important;
/*	font-weight: bold !important;*/
}

/*Fix firefox 75 url color changes*/
#urlbar-background {
       background-color: #0C1014 !important;
       border: none !important;
       box-shadow: none !important;
       animation-name: none !important;
}

#urlbar:hover{
  box-shadow: none !important;
}


#tracking-protection-icon-container,#pageActionSeparator{ border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down{ background-color: transparent !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }



/*Tabs below nav bar*/

#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#navigator-toolbox{
  margin-top: 0px;
  padding-top:0px !important;
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
}

#navigator-toolbox { --tabs-border-color: transparent !important; }/* remove weird line*/



/*Hide tabs bar if one tab is opened*/
/*
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}

#tabbrowser-tabs #tabs-newtab-button {
  visibility: collapse !important;
}
*/

/* FAVICONS Color */
/* Default */
.tab-icon-image
{
  filter: grayscale(100%) opacity(70%) !important;
  display: none !important;
}
/* Selected */
.tabbrowser-tab[selected] .tab-icon-image
{
  filter: grayscale(100%) opacity(90%) !important;
  display: none !important;
}

.tab-text {
  text-align: center !important;
}
.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}
/* Close tab color */
#TabsToolbar .close-icon {
  filter: opacity(90%) !important;
}


/* hide navigation bar when it is not focused; use Ctrl+L to get focus */
/*#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -30px;
}
#navigator-toolbox {
    transition: 0.2s margin-top ease-out;
}*/


@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}

* {
  font-size: 16px !important;
  font-family: Fira Code !important;
}
