 @-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
  body{background-color:#0C1014!important;--newtab-search-icon: transparent !important;}
  a,a:visited,a:hover{color:#195466!important}
	#newtab-search-text {
	background-color: #0C1014 !important;
	font-size: 18px !important;
	color: #195466 !important;
	box-shadow: none !important;
	text-align: center !important;
	border:none !important;
	font-weight: bold !important;
		}

.search-wrapper input {
    --newtab-textbox-focus-boxshadow: none !important;
    padding-left: 20px !important;
   	padding-inline-end: 13px !important;
  }
  

.search-wrapper .logo-and-wordmark .wordmark {
  display: none!important;
}

.search-wrapper .logo-and-wordmark {
  margin-bottom: 40px!important;
  padding-top: 60px!important;
  filter: saturate(30%) opacity(50%)!important;
}



.search-button{background:none !important;}

.prefs-button button {fill: #195466 !important;}
  
.prefs-button button:hover, .prefs-button button:focus {
    background-color:  transparent !important; }	
 
 .contentSearchSuggestionTable {display: none !important;}
 

}
:root {
	
    --in-content-border-active: #195466 !important;
    --in-content-border-active-shadow: none !important;
    --in-content-page-background: #0a0f14 !important;
    --in-content-text-color: #195466 !important;
    --in-content-page-foreground: #195466 !important;
    scrollbar-color: #0a3749 #0C1014 !important;
    scrollbar-width: thin;
}

*
/*{
    font-family: "Fira Code" !important;
    font-size: 16px !important;
}

pre, code, samp, tt, var
{
    font-family: Fira Code !important;
}*/
